# SERVER CONFIG
PORT=5000
NODE_ENV=development


MONGODB_URI=mongodb://spandanneupane336_db_user:spandan2345@ac-2af4ug7-shard-00-00.ocgy5y0.mongodb.net:27017,ac-2af4ug7-shard-00-01.ocgy5y0.mongodb.net:27017,ac-2af4ug7-shard-00-02.ocgy5y0.mongodb.net:27017/restaurant_management?ssl=true&replicaSet=atlas-1mnrt9-shard-0&authSource=admin&appName=ResturantManagement


JWT_SECRET=restaurant_ordering_secret_key_2026
JWT_EXPIRES_IN=7d


CLIENT_URL=http://127.0.0.1:5500


CLIENT_URL_2=https://restaurant-ordering-system.p2850751.workers.dev